<div class="container">
<h1><%= @snap.title.titleize if @snap.title%></h1>
<p class='pictureshow'><%= image_tag(@snap.picture)%></p>
<hr>
<p><%= @snap.description if @snap.description%></p>
<p><%= @snap.price if @snap.price%>  </p>
<%= link_to "Delete", snap_path(@snap),
                        method: :delete,
                        data: {confirm: "Are you sure?"}%>
</div>
