<div class="container">
<h1><%= @snap.title.titleize %></h1>
<p><%= image_tag(@snap.picture.medium)%></p>
<hr>
<p><%= @snap.description %></p>
<p><%= @snap.price %> </p>
<%= link_to "Delete", snap_path(@snap),
                        method: :delete
                        data: {confirm: "Are you sure?"}%>
</div>
