<div class="container">
  <div class="row">

    <br>
  </div>
  <div class="col-md-4">
    <div class='fixingposition'>
      <%= link_to fa_icon("frown-o"), dislike_snap_path(@snap), method: :post, class:"showpageicons2" %>
    </div>
    <div class="disliketext">
      DISLIKE: <%= @snap.dislike_count %>
    </div>
  </div>

  <div class="col-md-4">
    <p class='pictureshow'><%= image_tag(@snap.picture)%></p>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <%= link_to fa_icon("trash" ), snap_path(@snap),
                            method: :delete,
                            data: {confirm: "Are you sure?"},
                            class:"showpageicons"%>
    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div class="col-md-4">
    <div class='fixingposition'>
      <%= link_to fa_icon("heart-o"), like_snap_path(@snap), method: :post, class:"showpageicons2" %>
    </div>
    <div class="liketext">
    LIKE: <%= @snap.like_count %>
    </div>
  </div>
</div>
<div class="footerhelp" >
</div>
