<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- <div class="navbar-header">
      <div class="navbar-brand"><%= link_to "Home", root_path %></div>
    </div> -->
    <a class="navbar-brand" href="/">MOON</a>
    <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to "New", snaps_path %></li>
      <li><a href="#">Feature 2</a></li>
      <li><a href="#">Feature 3</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><a href="/snaps/new"><span class="glyphicon glyphicon-camera" ></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "View Profile", user_path(current_user) %></li>
            <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
        <% else %>
            <li class="link"><%= link_to "Sign In", new_session_path %></li>
            <li class="link"><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
