<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class"container">
    <%= render "/layouts/navbar" %>
  </div>
  <div class="container">
    <% if flash[:notice] %>
    <div id="flash-notice"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
    <div id="flash-alert"><%= flash[:alert] %></div>
    <% end %>
  </div>

  <%= yield %>


  <footer>
    <br>
    <div class="row">
      <div class="col-md-4">
        <ul><%= link_to "", root_path %></ul>
        <ul><%= link_to "", root_path %></ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
          </li>
          <li><a href="" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
          </li>
          <li><a href="" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">

        </ul>
      </div>
      <div class="col-md-12">
      </div>
    </div>
  </footer>
</body>
</html>
